@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body::-webkit-scrollbar {
  width: 0; }

body, html {
  overflow-x: hidden; }

body {
  background-color: #000000;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px; }

header .logo {
  padding: 40px; }

main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
  z-index: -10; }

main .overlay {
  background: rgba(61, 0, 11, 0.589);
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  z-index: -9; }

.main-area {
  display: flex;
  flex-direction: column;
  margin-top: 150px; }
  .main-area span {
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 5px; }
  .main-area h2 {
    margin: 5px 0;
    font-size: 48px;
    color: #ff0022;
    font-weight: 700;
    letter-spacing: 3px; }
  .main-area button {
    width: 300px;
    height: 60px;
    background-color: transparent;
    border: 3px solid #ff0022;
    border-radius: 30px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 40px;
    cursor: pointer;
    transition: .5s; }
    .main-area button:hover {
      background-color: #ff0022; }
  .main-area .arrow img {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 50px 140px;
    animation: bounce 0.5s infinite;
    cursor: pointer; }

@keyframes bounce {
  0% {
    top: 0px; }
  50% {
    top: 5px; }
  100% {
    top: 0px; } }

article {
  box-shadow: 0px -70px 10px rgba(0, 0, 0, 0.95); }
  article .about-area {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box; }
    article .about-area .about1 {
      width: 100%;
      display: flex;
      align-items: center; }
      article .about-area .about1 h3 {
        color: #ffffff;
        margin: 0;
        font-size: 22px;
        margin-left: 10px;
        font-weight: 400;
        width: 500px; }
        article .about-area .about1 h3 span {
          color: #ff0022;
          font-weight: 700; }
    article .about-area .about2 {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      article .about-area .about2 span {
        color: #ff0022; }
      article .about-area .about2 h3 {
        margin: 0;
        margin-right: 10px;
        font-size: 22px;
        color: #ffffff;
        font-weight: 400;
        width: 500px;
        text-align: end; }
        article .about-area .about2 h3 span {
          color: #ff0022;
          font-weight: 700; }

section {
  display: flex; }
  section .title {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin: 70px 0; }
  section .stack-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    section .stack-area .stack1, section .stack-area .stack2 {
      display: flex;
      margin: 0 100px; }
    section .stack-area .stack1 .stack1-text {
      margin: -18px 0 0 10px; }
    section .stack-area .stack1 .stack-title {
      color: #ff0022;
      font-size: 22px;
      font-weight: 700;
      margin-top: 45px; }
    section .stack-area .stack2 {
      text-align: end; }
      section .stack-area .stack2 .stack2-text {
        margin: -18px 10px 0 0; }
      section .stack-area .stack2 .stack-title {
        color: #ff0022;
        font-size: 22px;
        font-weight: 700;
        margin-top: 45px; }

.container-proyects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px; }

.card-proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  width: 300px;
  height: 410px;
  border-radius: 9px;
  border: 1px solid #ff0022;
  background-color: #1e1818c7;
  color: #ffffff;
  text-decoration: none; }

.card-proyect img {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 50%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.proyect-info {
  padding: 10px 5px 0 3px; }
  .proyect-info h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ff0022; }
  .proyect-info p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500; }
  .proyect-info .btns-proyect {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0; }
    .proyect-info .btns-proyect a {
      padding: 10px 20px;
      margin-top: 10px;
      outline: none;
      font-size: 18px;
      font-weight: 500;
      border-radius: 8px;
      text-decoration: none; }
    .proyect-info .btns-proyect a:hover {
      background-color: #ff0022; }
    .proyect-info .btns-proyect .view-live {
      background-color: transparent;
      border: 1px solid #ff0022;
      color: #ffffff; }
    .proyect-info .btns-proyect .github-repo {
      background-color: transparent;
      border: 1px solid #ff0022;
      color: #ffffff; }

section .contact {
  display: flex;
  justify-content: center;
  align-items: center; }
  section .contact .linkedin, section .contact .git, section .contact .email, section .contact .wp {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: transparent;
    border: 3px solid #ff0022;
    cursor: pointer; }
    section .contact .linkedin:hover, section .contact .git:hover, section .contact .email:hover, section .contact .wp:hover {
      background-color: #ff0022; }

.footer-line {
  width: 90%;
  height: 2px;
  background-color: #282830;
  margin: 50px auto 0 auto; }

footer {
  display: flex;
  color: #777; }
  footer .footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer-area .powered {
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .footer-area img {
      width: 25px;
      height: 25px;
      margin: 10px; }
